<div class="page-title">
    <h2>{{'password' | translate}}</h2>
  </div>
  <div class="welcome-msg">
    <p><strong>{{'change-password' | translate}}</strong></p>
  </div>
  <div class="register-page section-b-space" *ngIf="isNewPasswordSaved; else ShowChangePasswordForm">
    <div class="container">
      <div class="col-lg-12">
        <div class="row">
          <div class="theme-card">
            <div class="alert alert-success">
              <strong>{{'change-password-success' | translate}}</strong>
            </div>
            <h6 class="title-font">{{'change-password-success' | translate}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #ShowChangePasswordForm>
      <!-- section start -->
      <section class="register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="theme-card">
                        <form class="theme-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <div class="form-row">
                                <div class="col-sm">
                                    <label for="oldPassword">{{'old-password' | translate}}</label>
                                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="{{'old-password' | translate}}" [(ngModel)]="form.oldPassword" #oldPassword="ngModel" required minlength="6">
                                    <div *ngIf="(oldPassword.touched || f.submitted) && oldPassword.errors?.required" class="text text-danger">
                                      {{'password-required' | translate}}
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <label for="password">{{'new' | translate}} {{'password' | translate}}</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="{{'password' | translate}}" [(ngModel)]="form.password" #password="ngModel" required minlength="6">
                                    <div *ngIf="(password.touched || f.submitted)">
                                      <div *ngIf="password.errors?.required" class="text text-danger">{{'password-required' | translate}}</div>
                                      <div *ngIf="password.errors?.minlength" class="text text-danger">{{'password-min-length' | translate}}</div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                  <label for="confirmPassword">{{'password-retype' | translate}}</label>
                                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'password-retype' | translate}}" [(ngModel)]="form.confirmPassword" #confirmPassword="ngModel" required (ngModelChange)="checkPasswords()">
                                  <div *ngIf="(confirmPassword.touched || f.submitted) && confirmPassword.errors?.required" class="text text-danger">
                                    {{'password-required' | translate}}
                                  </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin-top: 5px;">
                                <button class="btn btn-solid">{{'save-change' | translate}}</button>
                                <div *ngIf="f.submitted && isNewPasswordSaved" class="text text-danger">
                                    {{'my-account-failed' | translate}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!--Section ends-->
  </ng-template>