<!-- Home slider -->
<section class="p-0">
  <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
    <div ngxSlickItem>
      <div class="home home1 text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4 class="d-none d-md-block d-lg-block d-xl-block">{{'topbar-title' | translate}}</h4>
                  <h1>{{'women-fashion-full' | translate}}</h1>
                  <a [routerLink]="'/collection/women'" class="btn btn-solid">{{'shop-now' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ngxSlickItem>
      <div class="home home2 text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4 class="d-none d-md-block d-lg-block d-xl-block">{{'topbar-title' | translate}}</h4>
                  <h1>{{'mens-fashion-full' | translate}}</h1>
                  <a [routerLink]="'/collection/men'" class="btn btn-solid">{{'shop-now' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ngxSlickItem>
      <div class="home home3 text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4 class="d-none d-md-block d-lg-block d-xl-block">{{'topbar-title' | translate}}</h4>
                  <h1>{{'kids-fashion-full' | translate}}</h1>
                  <a [routerLink]="'/collection/kids'" class="btn btn-solid">{{'shop-now' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ngxSlickItem>
      <div class="home home4 text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4 class="d-none d-md-block d-lg-block d-xl-block">{{'topbar-title' | translate}}</h4>
                  <h1>{{'girls-fashion-full' | translate}}</h1>
                  <a [routerLink]="'/collection/girl'" class="btn btn-solid">{{'shop-now' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ngxSlickItem>
      <div class="home home5 text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4 class="d-none d-md-block d-lg-block d-xl-block">{{'topbar-title' | translate}}</h4>
                  <h1>{{'boys-fashion-full' | translate}}</h1>
                  <a [routerLink]="'/collection/boy'" class="btn btn-solid">{{'shop-now' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ngxSlickItem>
      <div class="home home6 text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4 class="d-none d-md-block d-lg-block d-xl-block">{{'women-fashion-full' | translate}}</h4>
                  <h1>{{'bags-women' | translate}}</h1>
                  <a [routerLink]="'/collection/women'" class="btn btn-solid">{{'shop-now' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</section>
<!-- Home slider end -->
